# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\C projetcs\TP1_SFSD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
